.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgb(46, 46, 46);
    background-image: linear-gradient(180deg,#3498db ,#8e44dd );
}

.sidenav .mat-toolbar {
    background-image: linear-gradient(360deg,#3498db 25%,#8e44dd 75%);
}
.divif img{

    background-color: white;
    padding: -10px;
}


.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.example-icon {
    flex: 1 1 auto;
    text-align: end;
}

.material-icons.home:focus {
    flex: 1 1 auto;
    text-align: end;
    outline: none;
}

.material-icons.home {
    flex: 1 1 auto;
    text-align: end;
}

.material-icons.deeppurple {
    color:black;
}

.img-responsive.img-size {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin: 10px;
    border: 1px solid black;
}

.material-icons.edit {
    color: black;
}

li {
    cursor: pointer;
}

.material-icons,
.musix {
    cursor: pointer;
    font-size: xx-large;
}

.home:hover+.hide {
    display: block;
    color: white;
}

.home {
    width: 15vw;
}

.but2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    font-size: large;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hide {
    display: block;
    cursor: pointer;
}

.myDIV:hover+.hide {
    display: block;
    color: white;
    cursor: pointer;
}